/* Global Styles */
* {
    padding: 0;
    margin: 0;
    font-family: "Mulish", sans-serif;
}

/* Container */
.contain {
    width: 80%;
    margin: auto;
}

/* Buttons */
.primary-btn {
    width: 170px;
    padding: 15px 0;
    font-size: 18px;
    border-radius: 55px;
    color: white;
    cursor: pointer;
    text-align: center;
    background-color: #458ff6;
}

.primary-btn:hover {
    background-color: rgb(46, 46, 84);
}

.secondary-btn {
    width: 170px;
    border: 1px #458FF6 solid;
    font-size: 18px;
    padding: 15px 0;
    border-radius: 55px;
    color: #458FF6;
    cursor: pointer;
    text-align: center;
    margin: 25px auto;
}

.secondary-btn a {
    text-decoration: none;
}

.secondary-btn:hover {
    background-color: #458ff6;
    color: white;
}

/* Shadows */
.shadow {
    box-shadow: 13px 10px 0px 0 #10101010;
    border-radius: 25px;
    overflow: hidden;
}

/* Text */
.text h1 {
    font-size: 48px;
}

.text p {
    font-size: 21px;
    color: #7d7987;
    margin: 50px 0;
}

/* Header */
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
    width: 80%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #1f153487;
}

nav ul li .active {
    color: #1F1534;
    font-weight: 600;
}

/* Virtual Section */
.virtual {
    display: flex;
    align-items: center;
    margin: 10% auto;
}

.virtual article h1 {
    font-size: 48px;
}

.virtual article p {
    font-size: 21px;
    color: #7d7987;
    margin: 50px 0;
}

/* Our Services */
.our-services {
    background-image: url(/Images/Frame.png);
    background-repeat: no-repeat;
}

.text {
    text-align: center;
}

.container .text h1 {
    font-size: 35px;
}

.container .text p {
    font-size: 18px;
    margin: 50px 0;
    padding: 0 80px;
    color: #7d7987;
}

.container .Sections {
    display: flex;
    flex-direction: column;
}

.container .card {
    width: 32%;
    padding: 0 50px;
}

.container .card p {
    margin: 30px 0;
    color: #7D7987;
}

.Sections .row-one,
.Sections .row-two {
    display: flex;
    margin-bottom: 30px;
}

/* Healthcare Section */
.healthcare {
    display: flex;
    align-items: center;
    margin: 10% auto;
}

.healthcare .text {
    margin-left: 60px;
}

/* Download Section */
.Download {
    display: flex;
    align-items: center;
    margin: 10% auto;
}

/* Customer Section */
.Customer {
    margin-top: 10% auto;
}

.Customer .container {
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 15px;
    padding: 50px 0;
}

.Customer .container .blog {
    display: flex;
}

.Customer .container h1 {
    color: white;
    font-size: 36px;
    margin-bottom: 25px;
    text-align: center;
}

.Customer .blog .sec-one {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    width: 50%;
}

.Customer .sec-one svg {
    border: 3px white solid;
    border-radius: 50%;
}

.Customer .sec-one p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
    padding-left: 30px;
}

.Customer .sec-one p span {
    font-size: 18px;
}

.Customer .blog .sec-two {
    width: 50%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 0 65px;
}

/* Our News */
.our-news {
    margin: 10% auto;
}

.our-news h1 {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
}

.our-news .container {
    display: flex;
    justify-content: space-between;
}

.our-news .block {
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
}

.our-news .block img {
    width: 100%;
}

.our-news .block .news {
    padding: 20px;
}

.our-news .block .news h3 {
    font-size: 21px;
}

.our-news .block .news p {
    color: #7D7987;
    padding: 35px 0;
    font-size: 17px;
}

.our-news .block .news a {
    text-decoration: none;
    font-size: 17px;
}

/* Footer */
footer {
    background: linear-gradient(183.41deg, #458FF6 -8.57%, #5A98F2 82.96%);
    display: flex;
    align-items: center;
    padding: 5%;
}

.info {
    width: 50%;
}

.info p {
    color: white;
    font-size: 18px;
    padding: 50px 50% 50px 0;
}

.info span {
    color: white;
    font-size: 16px;
}

.list {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.list ul {
    list-style-type: none;
    color: white;
    font-weight: 300;
}

.list ul span {
    font-weight: 700;
    margin: 35px 0;
    font-size: 20px;
}

.list ul li {
    margin: 25px 0;
}

.list ul li a {
    color: white;
    text-decoration: none;
}

/* -------------------------------------------------------- */

@media (max-width:569px) {
    .nav ul {
        display: none;
    }

    .nav #icon- {
        content: "";
    }

    .contain {
        width: 90%;
    }

    .virtual {
        flex-direction: column-reverse;
    }

    .virtual img {
        width: inherit;
        margin-bottom: 25px;
    }

    .virtual .artone h1 {
        font-size: 36px;
    }

    .virtual .artone p {
        font-size: 14px;
    }

    .virtual .primary-btn {
        font-size: 12px;
        width: 30%;
    }

    .artone {
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .our-services p {
        font-size: 14px;
    }

    .our-services .text p {
        padding: 0 25px;
    }

    .container .row-one,
    .container .row-two {
        flex-direction: column;
        align-items: center;
    }

    .Sections .card {
        width: inherit;
        align-items: center;
        padding: 0 50px;
        display: flex;
        margin-bottom: 20px;
        text-align: center;
        flex-direction: column;
    }

    .card h2 {
        margin-top: 15px;
    }

    .container .secondary-btn {
        font-size: 12px;
        width: 30%;
        margin: auto;
    }

    .healthcare {
        flex-direction: column;
    }

    .healthcare .text {
        margin: 0;

    }

    .healthcare img {
        width: inherit;
        margin-bottom: 25px;
    }

    .healthcare .text h1 {
        font-size: 36px;
    }

    .healthcare .text p {
        font-size: 14px;
        padding: 0 25px;
    }

    .healthcare .secondary-btn {
        font-size: 12px;
        width: 30%;
        margin: auto;
    }

    .Download {
        flex-direction: column-reverse;
    }

    .Download img {
        width: inherit;
        margin-bottom: 25px;
    }

    .Download .text h1 {
        font-size: 36px;
    }

    .Download .text p {
        font-size: 14px;
        padding: 0 25px;
    }

    .Download .secondary-btn {
        font-size: 12px;
        width: 30%;
        margin: auto;
    }

    .Customer .container,
    .blog {
        flex-direction: column;
    }

    .Customer .container h1 {
        font-size: 36px;
        padding: 0 15px;
    }

    .Customer .blog .sec-one {
        flex-direction: column;
        width: inherit;
        align-items: center;
    }

    .Customer .blog .sec-one p {
        padding: 0;
        margin-bottom: 20px;
    }

    .Customer .blog .sec-two {
        width: inherit;
        padding: 0 25px;
        font-size: 14px;
    }

    .our-news .container {
        flex-direction: column;
    }

    .our-news .container .block {
        width: inherit;
        margin: 15px auto;
    }

    .our-news .secondary-btn {
        font-size: 12px;
        width: 30%;
        margin: auto;
    }

    footer {
        flex-direction: column;
    }

    footer .info {
        width: inherit;
        margin-bottom: 20px;
    }

    footer .info span {
        display: none;
    }

    footer .info p {
        padding: 15px 0;
        font-size: 14px;
    }

    .footeer .list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .footeer .list ul {
        width: 50%;
        flex-direction: column;
        justify-content: space-between;
    }

    .footeer .list ul:last-child {
        width: 100%;
    }

    .footeer #spantwo {
        color: white;
        font-size: 14px;
    }
}

@media (min-width:570px) and (max-width:990px) {
    .nav ul {
        display: none;
    }

    .nav #icon- {
        content: "";
    }

    .contain {
        width: 90%;
    }

    .virtual {
        flex-direction: column-reverse;
    }

    .virtual img {
        width: inherit;
        margin-bottom: 25px;
    }

    .virtual .artone h1 {
        font-size: 40px;
    }

    .virtual .artone p {
        font-size: 16px;
    }

    .virtual .primary-btn {
        font-size: 14px;
    }

    .artone {
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .container .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 20px;
    }

    .container .card h2 {
        margin-top: 15px;
    }

    .container .secondary-btn {
        margin: auto;
    }

    .healthcare {
        flex-direction: column;
    }

    .healthcare .text {
        margin: 0;

    }

    .healthcare img {
        width: inherit;
        margin-bottom: 25px;
    }

    .healthcare .text h1 {
        font-size: 36px;
    }

    .healthcare .text p {
        font-size: 14px;
        padding: 0 25px;
    }

    .healthcare .secondary-btn {
        margin: auto;
    }

    .Download {
        flex-direction: column-reverse;
    }

    .Download img {
        width: inherit;
        margin-bottom: 25px;
    }

    .Download .text h1 {
        font-size: 36px;
    }

    .Download .text p {
        font-size: 14px;
        padding: 0 25px;
    }

    .Download .secondary-btn {
        margin: auto;
    }

    .Customer .container,
    .blog {
        flex-direction: column;
    }

    .Customer .container h1 {
        font-size: 36px;
        padding: 0 15px;
    }

    .Customer .blog .sec-one {
        flex-direction: column;
        width: inherit;
        align-items: center;
    }

    .Customer .blog .sec-one p {
        padding: 0;
        margin-bottom: 20px;
    }

    .Customer .blog .sec-two {
        width: inherit;
        padding: 0 25px;
        font-size: 14px;
    }

    .our-news .container .block {
        margin: 15px auto;
    }

    .our-news .block .news h3 {
        font-size: 18px;
    }

    .our-news .block .news p,
    .our-news .block .news a {
        font-size: 14px;
    }

    .our-news .secondary-btn {
        font-size: 16px;
        margin: auto;
    }

    footer {
        flex-direction: column;
    }

    footer .info {
        width: inherit;
        margin-bottom: 20px;
    }

    footer .info span {
        display: none;
    }

    footer .info p {
        padding: 15px 0;
        font-size: 14px;
    }

    .footeer .list {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .footeer .list ul span {
        font-size: 18px;
    }

    .footeer .list ul li {
        font-size: 16px;
    }

    .footeer #spantwo {
        color: white;
        font-size: 14px;
    }
}

@media (min-width:991px) {
    .footeer #spantwo {
        display: none;
    }
}